# SPDX-License-Identifier: AGPL-3.0-only
# Copyright (C) 2026 The Anytag Backend Authors

# Copy this file to .env and replace with your actual values

BASE_URL=http://localhost:3000

# === Database connection components ===

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432

DB_USER=anytag
DB_PASS=change_me
DB_NAME=anytag

# !!! DO NOT CHANGE IT !!!
# Variable gets constructed here and is used by diesel-cli and app
DATABASE_URL=${DB_TYPE}://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# === SeaweedFS related (S3-compatible object storage) ===

AWS_ACCESS_KEY_ID=anytag
AWS_SECRET_ACCESS_KEY=change_me
S3_BUCKET=anytag-bucket
# SeaweedFS S3 access point (see docker-compose.yaml, port 8333)
S3_BASE_URL=http://localhost:8333
